body {
    font-family: 'Noto Sans TC', sans-serif;
}
h1{
        font-size:60px;
        
    }
.half-width{
        width: 50%;
        padding: 5%;
        
}
.News{
   text-align: right; 
   padding-right:10% ;
   border: solid;
   margin-left: 70%;
   border-width: 2px;
   border-color: orange;
}
.flexible_container{
    display: flex;
    
}
.Background-img{
    background-image: url(images/shapes/Frame\ 59.jpg);
    background-repeat: no-repeat;
    
}
.link-Button{
    text-decoration: none;
    background-color: palevioletred;
    background-image: linear-gradient(palevioletred,red);
    padding: 10px 20px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
.item-width{
    width: 30%;
    margin-left: 1.5%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right:1.5% ;
    padding: 2%;
    box-shadow: 10px 10px 30px gray;
    border-radius: 20px;

}
.text-format{
    color: gray; 
    text-align: justify;
}
.Back-Style{
    background-color: black;
    border-bottom: solid 10px;
    border-top: solid 10px;
}

.item-width-region{
    width: 30%;
    margin-bottom: 1%;
    margin-left: 1.5%;
    margin-top: 2%;
    margin-right:1.5% ;
    padding: 1.8%;
    box-shadow: 10px 10px 30px gray;
    border-radius: 20px;
    text-align: center;
}
